include include/LICENSE
include include/tst.h
include include/debug.h
include pythonTST.h
include tst_wrap.cxx
include MANIFEST.in
include README.html
include tst.i
include ez_setup.py
include build.bat
include LICENSE


