include include/debug.h
include include/fundamentals.h
include include/iterators.h
include include/qad_string.h
include include/LICENSE
include include/memory_storage.h
include include/tst.h
include build.bat
include build23.bat
include LICENSE
include MANIFEST.in
include PythonReference.h
include pythonTST.h
include README.html
include setup.py
include tst.i
include tst.py
include tst_wrap.h
include tst_wrap.cxx


